.Box {
  display: flex;
  justify-content: center;
}
.right {
  display: flex;
  justify-content: flex-end;
  margin-right: 3vw;
  font-size: 1.8vw;
  margin: 0.2vw;
}
.right button {
  z-index: 1100;
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  background-color: #fb641b;
  margin: auto 1vw;
  border: 0;
  font-size: 1vw;
  padding: 0;
}
.right button:hover {
  background-color: #fb661bdd;
  cursor: pointer;
}
.bill {
  width: auto;
  height: 3vw;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin-top: -4.2vw;
  position: relative;
}
.bill h3 {
  position: absolute;
  right: 20vw;
  font-size: 2vw;
}
.bill span {
  margin-left: 1vw;
  color: #077d61;
}
.placeyourorder {
  height: 10vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeyourorder button {
  width: 17vw;
  height: 5vw;
  margin: 1vw;
  padding: 0;
  background-color: #2cbc63;
  font-size: 1.4vw;
  font-weight: bold;
  color: white;
  border-radius: 0.7vw;
  border: none;
  font-style: oblique;
  cursor: pointer;
  padding: 0.3vw;
}
.placeyourorder button:hover {
  background-color: #2cbc63dd;
}
